[Desktop Entry]
Type=Application
Exec=/home/punitabc/shell-script/Printer_Troubleshooter.sh
Name=Printer Queue
Icon=~/shell-script/printer.png
Type=Application
Encoding=UTF-8
Terminal=false
